.todo {
    padding: 20px 5px;
    border-bottom: 1px solid $grey;
    background:linear-gradient(15deg, #00a9f1, #cf00f1);
    background-size:contain;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width:1119px){ justify-content: space-evenly;
   }
}


.logo {
  max-width: 300px;
    font-size: $_40px;
    font-weight: 600;
    line-height: 32px;
    color: $white;
    transition: all 0.5s ease;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
      transform: scale(1.1);
    }
  }


.logo-title {
  max-width: 400px;
 @include h4;
 color: $white;
 font-family:  "Montserrat", sans-serif;
 }

 .current-day {
 max-width: 300px;
 font-size: $_25px;
 color: $black;
 font-weight: 300;
  }

