@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Raleway:wght@300;600&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css";
.todo {
  background: linear-gradient(15deg, #00a9f1, #cf00f1) 0 0 / contain;
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 5px;
}

.header-wrap {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media (max-width: 1119px) {
  .header-wrap {
    justify-content: space-evenly;
  }
}

.logo {
  max-width: 300px;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 32px;
  transition: all .5s;
  animation: 2s linear infinite rotate;
}

@keyframes rotate {
  from {
    transform: scale(1.1);
  }
}

.logo-title {
  max-width: 400px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.current-day {
  max-width: 300px;
  color: #000;
  font-size: 1.5625rem;
  font-weight: 300;
}

.main {
  padding: 30px 0;
}

.main-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

@media (max-width: 1119px) {
  .main-wrapper {
    justify-content: space-evenly;
  }
}

.card {
  max-width: 350px;
  padding-right: 10px;
}

@media (max-width: 1100px) {
  .card {
    width: 320px;
  }
}

@media (max-width: 989px) {
  .card:nth-child(3) {
    margin-top: 30px;
  }
}

@media (max-width: 669px) {
  .card:nth-child(2) {
    margin-top: 30px;
  }
}

.todo-item {
  max-width: 350px;
  background-color: #6c63ff;
  border: #c4c4c4;
  border-radius: 20px;
  padding-right: 15px;
}

.task-out {
  width: 350px;
  height: 100px;
  background-image: radial-gradient(circle at 50% -20.71%, #cbe7e0 0, #cae7e3 6.25%, #c9e7e5 12.5%, #c9e7e8 18.75%, #c9e7ea 25%, #c9e7ed 31.25%, #cae6ef 37.5%, #cbe6f0 43.75%, #cde5f2 50%, #cfe4f3 56.25%, #d1e4f4 62.5%, #d4e3f5 68.75%, #d7e2f5 75%, #dae1f5 81.25%, #dde0f4 87.5%, #e1dff3 93.75%, #e4dff2 100%);
  border-radius: 20px;
  margin: 20px auto auto;
}

.item-text {
  color: #fff;
  text-align: center;
  padding: 20px 3% 10px;
  font-family: Raleway;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.add {
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  transition: transform, all .2s;
}

.add:hover {
  transform: scale(1.1);
}

.adddone {
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  transition: transform, all .2s;
}

.adddone:hover {
  transform: scale(1.1);
}

.addnew {
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  transition: transform, all .2s;
}

.addnew:hover {
  transform: scale(1.1);
}

.trash {
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  transition: transform, all .2s;
}

.trash:hover {
  transform: scale(1.1);
}

.item-btn {
  justify-content: right;
  align-items: center;
  display: flex;
}

.total {
  width: 350px;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 10px;
  padding-right: 30px;
  box-shadow: 12px 2px 1px #00f3;
}

@media (max-width: 1100px) {
  .total {
    width: 320px;
  }
}

.accum {
  text-align: center;
  padding: 10px 3%;
  font-size: 1.25rem;
  line-height: 20px;
  display: block;
}

.task-form {
  width: 500px;
  margin: 50px auto 100px;
}

@media (max-width: 800px) {
  .task-form {
    width: 400px;
  }
}

@media (max-width: 560px) {
  .task-form {
    width: 400px;
  }
}

.task {
  max-width: 700px;
  max-height: 500px;
  text-align: center;
  z-index: 100;
  background-color: #6c63ff;
  border-radius: 10px;
  margin: 20px auto auto;
  position: fixed;
  inset: 0;
  transform: translateY(180px);
}

@media (max-width: 800px) {
  .task {
    width: 520px;
  }
}

@media (max-width: 560px) {
  .task {
    width: 400px;
  }
}

.task.active {
  display: none;
}

#title {
  width: 470px;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  font-family: Raleway, sans-serif;
}

#title:hover {
  color: #000;
  background: #fff;
}

@media (max-width: 800px) {
  #title {
    width: 300px;
  }
}

#author {
  width: 470px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0 15px;
  font-family: Raleway, sans-serif;
}

#author:hover {
  color: #000;
  background: #fff;
}

@media (max-width: 800px) {
  #author {
    width: 300px;
  }
}

#message {
  width: 470px;
  max-width: 470px;
  height: 130px;
  max-height: 130px;
  color: #000;
  resize: none;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  font-family: Raleway, sans-serif;
  font-size: .9375rem;
}

#message:hover {
  color: #000;
  background: #fff;
}

@media (max-width: 800px) {
  #message {
    width: 300px;
  }
}

.title-task {
  margin-bottom: 15px;
  padding-top: 7%;
}

#btn-create {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
  padding: 8px 16px;
  font-family: Montserrat\", sans-serif;
  font-weight: 700;
  transition: transform, all .2s;
}

#btn-inprogress {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  font-family: Montserrat\", sans-serif;
  font-weight: 700;
  transition: transform, all .2s;
}

.title-task {
  font-family: Montserrat, sans-serif;
  font-size: 1.5625rem;
}

#btn-create:hover, #btn-create:focus, #btn-inprogress:hover, #btn-inprogress:focus {
  color: #9555af;
  background-color: #fff;
  transform: scale(1.1);
}

.close-btn {
  cursor: pointer;
  color: #fff;
  justify-content: right;
  margin-bottom: -10%;
  margin-right: -13%;
  padding-top: 15px;
  display: flex;
}

.close-btn:hover {
  color: #f76c6a;
}

.card-item {
  width: 350px;
  text-align: center;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  margin-top: 15px;
  padding: 5px 10px;
}

@media (max-width: 1100px) {
  .card-item {
    width: 320px;
  }
}

.remove-maketask {
  cursor: pointer;
  color: #fff;
  background-color: #6c63ff;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-right: 7px;
  padding: 5px 12px;
  font-size: .75rem;
}

.send-inprogress {
  cursor: pointer;
  color: #fff;
  background-color: #6c63ff;
  border: none;
  border-radius: 10px;
  padding: 5px 12px;
  font-size: .75rem;
}

.remove-inprogress {
  cursor: pointer;
  color: #fff;
  background-color: #6c63ff;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
  padding: 5px 12px;
  font-size: .75rem;
}

.send-done {
  cursor: pointer;
  color: #fff;
  background-color: #6c63ff;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 5px 12px;
  font-size: .75rem;
}

.send-make {
  cursor: pointer;
  color: #fff;
  background-color: #6c63ff;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  margin-right: 4px;
  padding: 5px 12px;
  font-size: .75rem;
}

.accum2 {
  text-align: center;
  text-align: center;
  padding: 10px 3%;
  font-size: 1.25rem;
  line-height: 20px;
  display: block;
}

.accum3 {
  text-align: center;
  padding: 10px 3%;
  font-size: 1.25rem;
  line-height: 20px;
  display: block;
}

.sendback, .sendnext, .remove-task, .sendstart {
  cursor: pointer;
  color: #fff;
  background-color: #6c63ff;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-right: 7px;
  padding: 5px 12px;
  font-size: .75rem;
}

.currentdate, .currentmonth, .currentyear {
  color: #ff0;
  font-family: Raleway, sans-serif;
  font-size: 1.5625rem;
  font-weight: 700;
}

.input-task:invalid {
  border: 2px dashed red;
}

.input-task:invalid:required {
  background-image: linear-gradient(to right, #f0c5cd, #8de6e3);
}

.input-task:valid {
  border: 2px solid #000;
}

.task-form span {
  color: red;
  font-size: 16px;
  bottom: 12px;
  right: 17px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: Raleway, sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

/*# sourceMappingURL=index.b07a87f3.css.map */
